@font-face {
  font-family: 'Metropolis-Black';
  src: url('../fonts/Metropolis-Black/Metropolis-Black.eot');
  src: url('../fonts/Metropolis-Black/Metropolis-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Metropolis-Black/Metropolis-Black.woff') format('woff'),
      url('../fonts/Metropolis-Black/Metropolis-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('../fonts/Metropolis-Bold/Metropolis-Bold.eot');
  src: url('../fonts/Metropolis-Bold/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Metropolis-Bold/Metropolis-Bold.woff') format('woff'),
      url('../fonts/Metropolis-Bold/Metropolis-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Metropolis-Light';
  src: url('../fonts/Metropolis-Light/Metropolis-Light.eot');
  src: url('../fonts/Metropolis-Light/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Metropolis-Light/Metropolis-Light.woff') format('woff'),
      url('../fonts/Metropolis-Light/Metropolis-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Metropolis-Medium';
  src: url('../fonts/Metropolis-Medium/Metropolis-Medium.eot');
  src: url('../fonts/Metropolis-Medium/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Metropolis-Medium/Metropolis-Medium.woff') format('woff'),
      url('../fonts/Metropolis-Medium/Metropolis-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Metropolis-Regular';
  src: url('../fonts/Metropolis-Regular/Metropolis-Regular.eot');
  src: url('../fonts/Metropolis-Regular/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Metropolis-Regular/Metropolis-Regular.woff') format('woff'),
      url('../fonts/Metropolis-Regular/Metropolis-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('../fonts/Metropolis-SemiBold/Metropolis-SemiBold.eot');
  src: url('../fonts/Metropolis-SemiBold/Metropolis-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Metropolis-SemiBold/Metropolis-SemiBold.woff') format('woff'),
      url('../fonts/Metropolis-SemiBold/Metropolis-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'IntegralCF-Regular';
  src: url('../fonts/IntegralCF-Regular/IntegralCF-Regular.eot');
  src: url('../fonts/IntegralCF-Regular/IntegralCF-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/IntegralCF-Regular/IntegralCF-Regular.woff') format('woff'),
      url('../fonts/IntegralCF-Regular/IntegralCF-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'IntegralCF-Heavy';
  src: url('../fonts/IntegralCF-Heavy/IntegralCF-Heavy.eot');
  src: url('../fonts/IntegralCF-Heavy/IntegralCF-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../fonts/IntegralCF-Heavy/IntegralCF-Heavy.woff') format('woff'),
      url('../fonts/IntegralCF-Heavy/IntegralCF-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Goldman-Regular';
  src: url('../fonts/Goldman-Regular/Goldman-Regular.eot');
  src: url('../fonts/Goldman-Regular/Goldman-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Goldman-Regular/Goldman-Regular.woff') format('woff'),
      url('../fonts/Goldman-Regular/Goldman-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'IntegralCF-Medium';
  src: url('../fonts/IntegralCF-Medium/IntegralCF-Medium.eot');
  src: url('../fonts/IntegralCF-Medium/IntegralCF-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/IntegralCF-Medium/IntegralCF-Medium.woff') format('woff'),
      url('../fonts/IntegralCF-Medium/IntegralCF-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Onest-Bold';
  src: url('../fonts/Onest-Bold/Onest-Bold.eot');
  src: url('../fonts/Onest-Bold/Onest-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-Bold/Onest-Bold.woff') format('woff'),
      url('../fonts/Onest-Bold/Onest-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Onest-Medium';
  src: url('../fonts/Onest-Medium/Onest-Medium.eot');
  src: url('../fonts/Onest-Medium/Onest-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-Medium/Onest-Medium.woff') format('woff'),
      url('../fonts/Onest-Medium/Onest-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Teko-Medium';
  src: url('../fonts/Teko-Medium/Teko-Medium.eot');
  src: url('../fonts/Teko-Medium/Teko-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Teko-Medium/Teko-Medium.woff') format('woff'),
      url('../fonts/Teko-Medium/Teko-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Barlow-Bold';
  src: url('../fonts/Barlow-Bold/Barlow-Bold.eot');
  src: url('../fonts/Barlow-Bold/Barlow-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Barlow-Bold/Barlow-Bold.woff') format('woff'),
      url('../fonts/Barlow-Bold/Barlow-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}